.img {
    width: 450px;
    object-position: middle;
}

h1 {
    text-align:center;
    font-family:lobster;
    font-size: 50px;
}
body {
    background-image: url("./img/pattern.jpg");
    background-size: 1600px;
}
p {
    font-family:sans-serif;
}